.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.gradient-background{
    /* height: 500px;
    width: 300px;
    background: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%)); */
    /* border-radius: 10% 10% 64% 56% / 0% 0% 37% 10%; */
}